$color: rgb(20, 32, 29);
$dir: rtl;
$for-color: #d7e7a9;
$font:Vazirmatn FD;
$normal-font:16px;
$md-font:32px;
$larg-font:50px;
$berand-color:rgb(255, 255, 255);
$secendery-color:rgb(0, 52, 249);