@import'setting';

body {
    background-color: $color;
    font-size: $normal-font;
    direction: $dir;
    color: $for-color;
    font-family:$font;

}
h1{
font-size: $larg-font;
}
h2{
    font-size: $md-font;
}
div{
    border: 2px solid $berand-color;
}
div.secendery{
    border: 2px solid $secendery-color;
}